<div class="w-100 vh-100 position-fixed overlay d-none" id="sidebar-overlay"></div>
      <!-- note: in the layout margin auto is the key as sidebar is fixed -->
      <div class="col-md-9 col-lg-10 ml-md-auto px-0">
      <!-- top nav -->
      
      <!-- main content -->
      <main class="container-fluid " style="margin-top:4%;">
<div class="jumbotron jumbotron-fluid rounded bg-white border-0 shadow-sm border-left px-4">
    <div class="container">
    <h1 class="display-2 mb-4 text-primary" style="margin-top: -2%;"><b>Apartment List</b></h1>
    <div class="card-deck" style="max-width: 90%;">
    <div class="card"  style="max-width: 80%;">
        <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Happy Homes Liloan Cebu </h3>
        
         
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Happy Homes Liloan Cebu </h3>
   
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Happy Homes Liloan Cebu</h3>
    
        </div>
      </div>

    </div><br>

    <!-- second pic -->

    <div class="card-deck" style="max-width: 90%;">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Happy Homes Liloan Cebu</h3>
     
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Happy Homes Liloan Cebu </h3>
              
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./assets/images/pic1.jfif" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Happy Homes Liloan Cebu </h3>
    
            </div>
          </div>
    
        </div>

