
<!-- 
 <div class="card-body" style=" margin-left: 80px; margin-top: 30px;">
    <img style="height:300px; width:500px;" src="./assets/images/pic1.jfif" alt="">
    <p class="text-center"><b>Happy Homes Liloan Cebu City</b></p>
            <div class="text-center" style="align-items: inherit;">
                <a href="#" class="btn btn-primary">View</a>
            </div>

    <div class="text-nowrap bd-highlight" style="margin-left:550px; margin-top: -290px;  ">
        
        <div class="textbox">
            <p> This text is the content of the box. We have added a 50px padding, <br> 20px margin and a 15px green border.
                <br> Ut enim ad minim veniam, quis nostrud exercitation <br> ullamco laboris nisi ut aliquip ex ea commodo consequat.
                <br> Duis aute irure dolor in reprehenderit <br> in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <br> Excepteur sint occaecat cupidatat non <br> proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br> <br> <br>
            </p>
            <p>
                This text is the content of the box. We have added a 50px padding, <br> 20px margin and a 15px green border.
                <br> Ut enim ad minim veniam, quis nostrud exercitation <br>
            </p>
        </div>
    </div>
</div> <br> <br> <br> <br> <br>

<div class="row mt-4">
    <div class="col-sm-5">
<div class="card-body" style=" margin-left: 700px; margin-top: -50px;">
    <img style="height:250px; width:500px; margin-top:-15px;  " src="./assets/images/pic2.jfif" alt="">
    
    
   
 


    <div class="text-nowrap bd-highlight" style="margin-left:-600px; margin-top:-240px;  ">
        <div class="textbox" >
            <p> This text is the content of the box. We have added a 50px padding, <br> 20px margin and a 15px green border.
                <br> Ut enim ad minim veniam, quis nostrud exercitation <br>
</p>  -->





<!-- 
<h1 style="margin-top: 2%;margin-left: 6%; color:#2F4F4F	"><b>Explore Available Apartments....</b></h1>
<div class="container" >

            <div class="row mt-4">
            <div class="col-sm-5">
            <div class="card">
            <div class="card-body" >
            <img class="img-responsive ml-5" style="max-width: 70%; margin-left:20%" src="./assets/images/pic1.jfif" alt="" >
            <p class="text-center"><b>Happy Homes Liloan Cebu City</b></p>
            <div class="text-center">
                <a href="#" class="btn btn-primary">View</a>
            </div>
            </div>
            </div>
    
        </div>   -->
            <!-- <div class="col-sm-6"> -->
<!--            
            <div class="card-body">
            
            <p class="text-justify" style="color:#2F4F4F	"><b>This is fully furnished apartment that has a relaxing view. For all of these apartments—tax credit sites vouchers accepted, central air, stove and refrigerator, trash removal and water included. Community rooms are included (closed due to COVID-19 restrictions). People 18 years of age and older are eligible. Options include 1- or 2-bedroom units with some accessible units as well. Please review details for each apartment site by selecting below,
                 including eligibility and applications as each site is unique. Downloadable flyer available. </b></p> -->
            
        
            <!-- </div>
            </div> -->
            <!-- </div> -->

            <!-- </div>
            <br> -->

<!-- For the second Pic -->



    <!-- sample -->
   
    
        <!-- <div class="row mt-5">
            <div class="col-sm-15">
            <div class="card">
        <div class="card-body">
            <img class="img-responsive ml-5" style="width: 300px; margin-left:20%" src="./assets/images/pic1.jfif" alt="" align="right">
            <p class="text-center"><b>Happy Homes Liloan Cebu City</b></p>
            <div class="text-center">
                <a href="#" class="btn btn-primary">View</a>
                </div>
                </div>
                </div>
                
                
            </div>
            </div>
    <br>
    


    <div class="mx-auto">
<div class="float-none" class="text-justify" style="color: #2F4F4F;"><b>This is fully furnished apartment that has a relaxing view. For all of these apartments—tax credit sites vouchers accepted, central air, stove and refrigerator, trash removal and water included. Community rooms are included (closed due to COVID-19 restrictions). People 18 years of age and older are eligible. Options include 1- or 2-bedroom units with some accessible units as well. Please review details for each apartment site by selecting below,
    including eligibility and applications as each site is unique. Downloadable flyer available. </b></div>
    </div> --> -->




    



            
    
    
    



    
               


          

        
         
    
        























































































































            <!-- <div class="container">

    <div class="row mt-4">
    <div class="col-sm-5">
    <div class="card">
    <div class="card-body">
    <img class="img-responsive ml-5" style="width: 300px; margin-left:20%" src="./assets/images/pic1.jfif" alt="">
    <p class="text-center"><b>Happy Homes Liloan Cebu City</b></p>
    <div class="text-center">
    <a href="#" class="btn btn-primary">View</a>
    </div>
    </div>
    </div>

    </div>
    
 <div class="container">

        <div class="row mt-4">
        <div class="col-sm-5">
        <div class="card">
        <div class="card-body">
        <img class="img-responsive ml-5" style="width: 300px; margin-left:20%" src="./assets/images/pic1.jfif" alt="">
        <p class="text-center"><b>Happy Homes Liloan Cebu City</b></p>
        <div class="text-center">
        <a href="#" class="btn btn-primary">View</a>
        </div>
        </div>
        </div>
    
        
    
        </div>
         -->
            
            